#articles_list {
    .article {
        .article-title {
            a:hover {
                color:#aaaaaa;
            }
        }

        .article-information {
            .article-time {
                margin: 5px 0;
                padding: 0;
            }

            .article-group, .article-category, .article-album {
                margin: 5px 0;
                padding-right: 0;

                a {
                    font-size: 1.3rem;
                    color: #363d48;
                    background-color: #e4e4e4;
                    padding: 2px 10px;
                }

                a:hover {
                    color:#aaaaaa;
                }

                i {
                    font-size: 100%;
                }
            }
        }
    }
}

#articles_pagination {
    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin-left: 10px;
            margin-right: 10px;

            i {
                margin-bottom: 5px;

            }

            a {
                color: #333333;
            }

            &.disabled {
                a {
                    color: #e4e4e4;
                }
            }
        }
    }
}