.panel {
    border-radius: 0;

    .panel-heading {
        background-color: #ffffff;
        border-bottom: 1px solid #eeeeee;

        .panel-title {
            margin: 0;
            padding: 0;
        }
    }
}

#author_widget {
    a {
        color: #333333;
    }

    a:hover {
        color: #aaaaaa;
    }

    a i {
        font-size: 130%;
        margin: 5px;
    }

    .popover, .popover-title {
        border-radius: 0;
    }
}